@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap");

* {
  font-family: heebo, sans-serif;
}

p {
  line-height: 1.6rem;
}

.education-column {
  transition: box-shadow 0.3s ease-in-out;
}

.education-column:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.navbar {
  min-height: unset;
  height: 100px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .navbar {
    height: auto;
  }
  .footer {
    height: 150px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
  ...;
} */
/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
  ...;
} */
/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
  ...;
} */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {
  ...;
} */
